@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* 以降はプロジェクト用のクラス */
.text-blue-navbar{
  color: #020048;
  font-family: Inter;
}

.text-blue-cube {
  color: #012F69;
}

.text-green-cube {
  color: #007660;
}

.text-grey-cube {
  color: #2C2C2C;
}

.bg-gray-cube {
  background: #F1F1F1;
}

.bg-green-cube {
  color: #007660;
}

.step {
  padding: 0 0 40px 0;
  zoom: 1;
}
  
  
.step li {
  position: relative;
  float: left;
  overflow: hidden;
  width: 33.333%;
  padding: 16px 0;
  text-align: center;
  background: #F6F6F6;
  font-size: 14px;
  line-height: 1;
}
  
  
.step li::before {
  position: absolute;
  top: -6px;
  right: 0;
  width: 0;
  height: 0;
  content: "";
  border-top: 30px solid #F6F6F6;
  border-bottom: 30px solid #F6F6F6;
  border-left: 11px solid #fff;
}
 
.step li::after {
  position: absolute;
  top: -6px;
  right: 2px;
  width: 0;
  height: 0;
  content: "";
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 11px solid #F6F6F6;
}

.step li.current {
  color: #fff;
  background: #007660;
}

.step li.current::after {
  position: absolute;
  top: -6px;
  right: 2px;
  width: 0;
  height: 0;
  content: "";
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 11px solid #007660;
}

.step li.last::before, .step li.last.after {
  display: none;
}

.step li.currentlast {
  color: #fff;
  background: #007660;
}

.step li.currentlast.after {
  background: #007660;
}

.step li.currentlast.before {
  background: #007660;
}

.step li.prev {
	color: #fff;
	background: #007660;
}

.step li.prev::before {
	border-top: 30px solid #007660;
	border-bottom: 30px solid #007660;
}

.step li.prev::after {
	border-left: 11px solid #007660;
}