@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* 以降はプロジェクト用のクラス */
.text-blue-navbar{
  color: #020048;
  font-family: Inter;
}

.text-blue-cube {
  color: #012F69;
}

.text-green-cube {
  color: #007660;
}

.text-grey-cube {
  color: #2C2C2C;
}

.bg-gray-cube {
  background: #F1F1F1;
}

.bg-green-cube {
  color: #007660;
}

